.idea/

# Lambda
#############################
**/pkg/
**/bin/
**/vendor/
production.yml
.production.yml
.staging.yml

# Node
#############################
**/node_modules/
**/public/dist/
**/build/
yarn-error.log
.DS_Store
jspm_packages
.serverless
.aws.env
*.log
.env.production
.env.production.bk

# Rails
#############################
*.rbc
capybara-*.html
.rspec
**/log
**/tmp
**/public/system
**/coverage/
**/spec/tmp
*.orig
rerun.txt
pickle-email-*.html
**/.bundle
**/vendor/bundle
.byebug_history
**/public/packs


